<template>
    <nav class="cat__menu-left">
        <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
            <div class="cat__menu-left__pin-button">
                <div><!-- --></div>
            </div>
        </div>
        <div class="cat__menu-left__logo">
            <a href="dashboards-alpha.html">
                <img src="/cvadmin/modules/dummy-assets/common/img/logo-inverse.png" />
            </a>
        </div>
        <div class="cat__menu-left__inner">
            <ul class="cat__menu-left__list cat__menu-left__list--root">
                <li class="cat__menu-left__item">
                    <a href="javascript: void(0);" class="cat__menu-right__action--menu-toggle">
                        <span class="cat__menu-left__icon icmn-cog cat__core__spin-delayed--pseudo-selector"></span>
                        Theme Settings
                    </a>
                <li class="cat__menu-left__item cat__menu-left__item--active">
                    <a href="documentation-index.html">
    				    <span class="cat__menu-left__icon icmn-books"></span>
                        Documentation
                    </a>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li class="cat__menu-left__item">
                    <a href="dashboards-alpha.html">
                        <span class="cat__menu-left__icon icmn-home"></span>
                        <span class="badge badge-primary pull-right">New</span>
                        Dashboard Alpha
                    </a>
                </li>
                <li class="cat__menu-left__item">
                    <a href="dashboards-beta.html">
                        <span class="cat__menu-left__icon icmn-home"></span>
                        Dashboard Beta
                    </a>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-file-text"></span>
                        Default Pages
                    </a>
                    <ul class="cat__menu-left__list">
                        <li class="cat__menu-left__item">
                            <a href="pages-login-alpha.html">
                                <span class="cat__menu-left__icon">LA</span>
                                Login Alpha
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-login-beta.html">
                                <span class="cat__menu-left__icon">LB</span>
                                Login Beta
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-register.html">
                                <span class="cat__menu-left__icon">R</span>
                                Register
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-lockscreen.html">
                                <span class="cat__menu-left__icon">LS</span>
                                Lockscreen
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-pricing-tables.html">
                                <span class="cat__menu-left__icon">PT</span>
                                Pricing Tables
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-invoice.html">
                                <span class="cat__menu-left__icon">I</span>
                                Invoice
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-page-404.html">
                                <span class="cat__menu-left__icon">P4</span>
                                Page 404
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="pages-page-500.html">
                                <span class="cat__menu-left__icon">P5</span>
                                Page 500
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-download"></span>
                        Ecommerce
                    </a>
                    <ul class="cat__menu-left__list">
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-dashboard.html">
                                <span class="cat__menu-left__icon">DB</span>
                                Dashboard
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-products-catalog.html">
                                <span class="cat__menu-left__icon">PC</span>
                                Products Catalog
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-product-details.html">
                                <span class="cat__menu-left__icon">PD</span>
                                Product Details
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-product-edit.html">
                                <span class="cat__menu-left__icon">PE</span>
                                Product Edit
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-products-list.html">
                                <span class="cat__menu-left__icon">PL</span>
                                Products List
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-orders.html">
                                <span class="cat__menu-left__icon">O</span>
                                Orders
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="ecommerce-cart-checkout.html">
                                <span class="cat__menu-left__icon">CC</span>
                                Cart / Checkout
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-list"></span>
                        Forms
                    </a>
                    <ul class="cat__menu-left__list">
                        <li class="cat__menu-left__item">
                            <a href="forms-basic-form-elements.html">
                                <span class="cat__menu-left__icon">BF</span>
                                Basic Form Elements
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-buttons.html">
                                <span class="cat__menu-left__icon">B</span>
                                Buttons
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-dropdowns.html">
                                <span class="cat__menu-left__icon">D</span>
                                Dropdowns
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-selectboxes.html">
                                <span class="cat__menu-left__icon">SB</span>
                                Selectboxes
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-checkboxes-radio.html">
                                <span class="cat__menu-left__icon">CR</span>
                                Checkboxes / Radio
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-form-wizard.html">
                                <span class="cat__menu-left__icon">FW</span>
                                Form Wizard
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-form-validation.html">
                                <span class="cat__menu-left__icon">FV</span>
                                Form Validation
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-autocomplete.html">
                                <span class="cat__menu-left__icon">AC</span>
                                Autocomplete
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-input-mask.html">
                                <span class="cat__menu-left__icon">IM</span>
                                Input Mask
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-file-uploads.html">
                                <span class="cat__menu-left__icon">FU</span>
                                File Uploads
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="forms-extras.html">
                                <span class="cat__menu-left__icon">E</span>
                                Extras
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-loop"></span>
                        Components
                    </a>
                    <ul class="cat__menu-left__list">
                        <li class="cat__menu-left__item">
                            <a href="components-date-picker.html">
                                <span class="cat__menu-left__icon">DP</span>
                                Date Picker
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-calendar.html">
                                <span class="cat__menu-left__icon">CL</span>
                                Calendar
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-carousel.html">
                                <span class="cat__menu-left__icon">CR</span>
                                Carousel
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-media-players.html">
                                <span class="cat__menu-left__icon">MP</span>
                                Media Players
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-slider.html">
                                <span class="cat__menu-left__icon">SL</span>
                                Slider
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-modal.html">
                                <span class="cat__menu-left__icon">M</span>
                                Modal
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-tooltips-popovers.html">
                                <span class="cat__menu-left__icon">TP</span>
                                Tooltips & Popovers
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-notifications-alerts.html">
                                <span class="cat__menu-left__icon">NA</span>
                                Notifications & Alerts
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-loading-progress.html">
                                <span class="cat__menu-left__icon">LP</span>
                                Loading Progress
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-progress-bars.html">
                                <span class="cat__menu-left__icon">PB</span>
                                Progress Bars
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-badges-labels.html">
                                <span class="cat__menu-left__icon">BL</span>
                                Badges & Labels
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-steps.html">
                                <span class="cat__menu-left__icon">S</span>
                                Steps
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-breadcrumbs.html">
                                <span class="cat__menu-left__icon">B</span>
                                Breadcrumbs
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-pagination.html">
                                <span class="cat__menu-left__icon">P</span>
                                Pagination
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-collapse.html">
                                <span class="cat__menu-left__icon">C</span>
                                Collapse
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-tabs.html">
                                <span class="cat__menu-left__icon">T</span>
                                Tabs
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-text-editor.html">
                                <span class="cat__menu-left__icon">TE</span>
                                Text Editor
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="components-nestable.html">
                                <span class="cat__menu-left__icon">N</span>
                                Nestable
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-table"></span>
                        Tables
                    </a>
                    <ul class="cat__menu-left__list">
                        <li class="cat__menu-left__item">
                            <a href="tables-basic-tables.html">
                                <span class="cat__menu-left__icon">BT</span>
                                Basic Tables
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="tables-datatables.html">
                                <span class="cat__menu-left__icon">DT</span>
                                DataTables
                            </a>
                        </li>
                        <li class="cat__menu-left__item">
                            <a href="tables-editable-tables.html">
                                <span class="cat__menu-left__icon">ET</span>
                                Editable Tables
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-stats-bars"></span>
                        Charts
                    </a>
                    <ul class="cat__menu-left__list">
                        <li  class="cat__menu-left__item">
                            <a href="charts-chartistjs.html">
                                <span class="cat__menu-left__icon">CT</span>
                                Chartist.js
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="charts-chartjs.html">
                                <span class="cat__menu-left__icon">CR</span>
                                Chart.js
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="charts-c3.html">
                                <span class="cat__menu-left__icon">C3</span>
                                C3
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="charts-peity.html">
                                <span class="cat__menu-left__icon">PT</span>
                                Peity
                            </a>
                        </li>
                    </ul>
                </li>
                <li  class="cat__menu-left__item">
                    <a href="components-mail-templates.html">
                        <span class="cat__menu-left__icon icmn-envelop"></span>
                        Mail Templates
                    </a>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li  class="cat__menu-left__item">
                    <a href="apps-profile.html">
                        <span class="cat__menu-left__icon icmn-profile"></span>
                        Profile
                    </a>
                </li>
                <li  class="cat__menu-left__item">
                    <a href="apps-messaging.html">
                        <span class="cat__menu-left__icon icmn-bubbles4"></span>
                        <span class="badge badge-danger pull-right">768</span>
                        Messaging
                    </a>
                </li>
                <li  class="cat__menu-left__item">
                    <a href="apps-mail.html">
                        <span class="cat__menu-left__icon icmn-envelop"></span>
                        <span class="badge badge-success pull-right">84</span>
                        Mail
                    </a>
                </li>
                <li  class="cat__menu-left__item">
                    <a href="apps-calendar.html">
                        <span class="cat__menu-left__icon icmn-calendar"></span>
                        Calendar
                    </a>
                </li>
                <li  class="cat__menu-left__item">
                    <a href="apps-gallery.html">
                        <span class="cat__menu-left__icon icmn-images"></span>
                        Gallery
                    </a>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-checkbox-unchecked"></span>
                        Layout
                    </a>
                    <ul class="cat__menu-left__list">
                        <li  class="cat__menu-left__item">
                            <a href="layout-grid.html">
                                <span class="cat__menu-left__icon">G</span>
                                Grid
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="layout-cards.html">
                                <span class="cat__menu-left__icon">PC</span>
                                Cards / Panels
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="layout-sidebars.html">
                                <span class="cat__menu-left__icon">SB</span>
                                Sidebars
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="layout-utilities.html">
                                <span class="cat__menu-left__icon">U</span>
                                Utilities
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon icmn-star-full"></span>
                        Icons
                    </a>
                    <ul class="cat__menu-left__list">
                        <li  class="cat__menu-left__item">
                            <a href="icons-fontawesome.html">
                                <span class="cat__menu-left__icon">FA</span>
                                FontAwesome
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="icons-linear-icons-free.html">
                                <span class="cat__menu-left__icon">LI</span>
                                Linearicons Free
                            </a>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="icons-icomoon-free.html">
                                <span class="cat__menu-left__icon">IC</span>
                                Icomoon Free
                            </a>
                        </li>
                    </ul>
                </li>
                <li  class="cat__menu-left__item">
                    <a href="layout-typography.html">
                        <span class="cat__menu-left__icon icmn-font-size"></span>
                        Typography
                    </a>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li  class="cat__menu-left__item cat__menu-left__item--disabled">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon">D</span>
                        Disabled Item
                    </a>
                </li>
                <li class="cat__menu-left__item cat__menu-left__submenu">
                    <a href="javascript: void(0);">
                        <span class="cat__menu-left__icon">IN</span>
                        Infinity Nested
                    </a>
                    <!-- level 1 -->
                    <ul class="cat__menu-left__list">
                        <li class="cat__menu-left__item cat__menu-left__submenu">
                            <a href="javascript: void(0);">
                                Level 1
                            </a>
                            <!-- level 2 -->
                            <ul class="cat__menu-left__list">
                                <li class="cat__menu-left__item cat__menu-left__submenu">
                                    <a href="javascript: void(0);">
                                        Level 1.2
                                    </a>
                                    <!-- level 3 -->
                                    <ul class="cat__menu-left__list">
                                        <li  class="cat__menu-left__item">
                                            <a href="javascript: void(0);">
                                                Level 1.2.3
                                            </a>
                                        </li>
                                        <li class="cat__menu-left__item cat__menu-left__submenu">
                                            <a href="javascript: void(0);">
                                                Level 1.2.3
                                            </a>
                                            <!-- level 4 -->
                                            <ul class="cat__menu-left__list">
                                                <li  class="cat__menu-left__item">
                                                    <a href="javascript: void(0);">
                                                        Level 1.2.3.4
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                    </ul>
                                </li>
                                <li  class="cat__menu-left__item">
                                    <a href="javascript: void(0);">
                                        Level 1.2
                                    </a>
                                </li>
                                <li  class="cat__menu-left__item">
                                    <a href="javascript: void(0);">
                                        Level 1.2
                                    </a>
                                </li>
                                <li  class="cat__menu-left__item">
                                    <a href="javascript: void(0);">
                                        Level 1.2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li  class="cat__menu-left__item">
                            <a href="javascript: void(0);">
                                Level 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="cat__menu-left__divider"><!-- --></li>
                <li class="cat__menu-left__item">
                    <a href="javascript: void(0);">
                        <span class="cat__core__donut cat__core__donut--success"></span>
                        Jupiter
                    </a>
                </li>
                <li class="cat__menu-left__item">
                    <a href="javascript: void(0);">
                        <span class="cat__core__donut cat__core__donut--primary"></span>
                        Earth
                    </a>
                </li>
                <li class="cat__menu-left__item">
                    <a href="javascript: void(0);">
                        <span class="cat__core__donut cat__core__donut--danger"></span>
                        Mercury
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>
