<template>
    <div class="cat__top-bar">
        <!-- left aligned items -->
        <div class="cat__top-bar__left">
            <div class="cat__top-bar__logo">
                <a href="dashboards-alpha.html">
                    <img src="/cvadmin/modules/dummy-assets/common/img/logo.png" />
                </a>
            </div>
            <div class="cat__top-bar__item hidden-sm-down">
                <div class="dropdown">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="icmn-folder-open mr-2"></i>
                        <span class="hidden-lg-down"><strong>Issues History</strong></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)">Current search</a>
                        <a class="dropdown-item" href="javascript:void(0)">Search for issues</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Opened</div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-253 Project implemen...</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-234 Active history iss...</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-clock"></i> CLNUI-424 Ionicons intergrat...</a>
                        <a class="dropdown-item" href="javascript:void(0)">More...</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Filters</div>
                        <a class="dropdown-item" href="javascript:void(0)">My open issues</a>
                        <a class="dropdown-item" href="javascript:void(0)">Reported by me</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">Import issues from CSV</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                    </ul>
                </div>
            </div>
            <div class="cat__top-bar__item hidden-sm-down">
                <div class="dropdown">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="icmn-database mr-2"></i>
                        <span class="hidden-lg-down"><strong>Dashboards</strong></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="" role="menu">
                        <div class="dropdown-header">Active</div>
                        <a class="dropdown-item" href="javascript:void(0)">Project Management</a>
                        <a class="dropdown-item" href="javascript:void(0)">User Inetrface Development</a>
                        <a class="dropdown-item" href="javascript:void(0)">Documentation</a>
                        <div class="dropdown-header">Inactive</div>
                        <a class="dropdown-item" href="javascript:void(0)">Marketing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                    </ul>
                </div>
            </div>
            <div class="cat__top-bar__item hidden-lg-down">
                <div class="cat__top-bar__search">
                    <i class="icmn-search"><!-- --></i>
                    <input type="text" placeholder="Type to search..." />
                </div>
            </div>
        </div>
        <!-- right aligned items -->
        <div class="cat__top-bar__right">
            <div class="cat__top-bar__item hidden-sm-down">
                <a href="https://themeforest.net/item/clean-ui-admin-template-modular-trendy-design-modules-market-bem-angular-2-visual-builder/19597589?s_rank=4&ref=mediatec_software" target="_blank" onclick="yaCounter43604639.reachGoal('buy_sho_hea');" class="btn btn-sm btn-default btn-rounded">Buy Now <strike>20</strike> 25$</a>
            </div>
            <div class="cat__top-bar__item hidden-xxl-down hidden-sm-down">
                <div class="cat__top-bar__mini-chart">
                    Server Load:
                    <div class="cat__top-bar__mini-chart__inner">
                        <i style="height: 30%;"></i>
                        <i style="height: 78%;"></i>
                        <i style="height: 10%;"></i>
                        <i style="height: 46%;"></i>
                        <i style="height: 26%;"></i>
                        <i style="height: 29%;"></i>
                        <i style="height: 50%;"></i>
                        <i style="height: 89%;"></i>
                        <i style="height: 30%;"></i>
                    </div>
                    20%
                </div>
            </div>
            <div class="cat__top-bar__item hidden-sm-down">
                <div class="dropdown">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="menu-notification-icon icmn-home"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">

                        <div class="cat__top-bar__activity">
                            <div class="cat__top-bar__activity__item">
                                <i class="cat__top-bar__activity__icon icmn-star-full"></i>
                                <div class="cat__top-bar__activity__inner">
                                    <div class="cat__top-bar__activity__title">
                                        <span class="pull-right">now</span>
                                        <a href="javascript: void(0);">Update Status: <span class="badge badge-danger">New</span></a>
                                    </div>
                                    <div class="cat__top-bar__activity__descr">
                                        Failed to get available update data. To ensure the proper functioning of your application, update now.
                                    </div>
                                </div>
                            </div>
                            <div class="cat__top-bar__activity__item">
                                <i class="cat__top-bar__activity__icon icmn-stack"></i>
                                <div class="cat__top-bar__activity__inner">
                                    <div class="cat__top-bar__activity__title">
                                        <span class="pull-right">24 min ago</span>
                                        <a href="javascript: void(0);">Income: <span class="badge badge-default">$299.00</span></a>
                                    </div>
                                    <div class="cat__top-bar__activity__descr">
                                        Failed to get available update data. To ensure the proper functioning of your application, update now.
                                    </div>
                                </div>
                            </div>
                            <div class="cat__top-bar__activity__item">
                                <i class="cat__top-bar__activity__icon icmn-list"></i>
                                <div class="cat__top-bar__activity__inner">
                                    <div class="cat__top-bar__activity__title">
                                        <span class="pull-right">30 min ago</span>
                                        <a href="javascript: void(0);">Inbox Message</a>
                                    </div>
                                    <div class="cat__top-bar__activity__descr">
                                        From: <a href="javascript: void(0);">David Bowie</a>
                                    </div>
                                </div>
                            </div>
                            <div class="cat__top-bar__activity__item">
                                <i class="cat__top-bar__activity__icon icmn-home"></i>
                                <div class="cat__top-bar__activity__inner">
                                    <div class="cat__top-bar__activity__title">
                                        <span class="pull-right">now</span>
                                        <a href="javascript: void(0);">Update Status: <span class="badge badge-primary">New</span></a>
                                    </div>
                                    <div class="cat__top-bar__activity__descr">
                                        Failed to get available update data. To ensure the proper functioning of your application, update now.
                                    </div>
                                </div>
                            </div>
                            <div class="cat__top-bar__activity__item">
                                <i class="cat__top-bar__activity__icon icmn-loop"></i>
                                <div class="cat__top-bar__activity__inner">
                                    <div class="cat__top-bar__activity__title">
                                        <span class="pull-right">24 min ago</span>
                                        <a href="javascript: void(0);">Income: <span class="badge badge-warning">$299.00</span></a>
                                    </div>
                                    <div class="cat__top-bar__activity__descr">
                                        Failed to get available update data. To ensure the proper functioning of your application, update now.
                                    </div>
                                </div>
                            </div>
                            <div class="cat__top-bar__activity__item">
                                <i class="cat__top-bar__activity__icon icmn-cog cat__core__spin-delayed--pseudo-selector"></i>
                                <div class="cat__top-bar__activity__inner">
                                    <div class="cat__top-bar__activity__title">
                                        <span class="pull-right">30 min ago</span>
                                        <a href="javascript: void(0);">Inbox Message</a>
                                    </div>
                                    <div class="cat__top-bar__activity__descr">
                                        From: <a href="javascript: void(0);">David Bowie</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
            <div class="cat__top-bar__item">
                <div class="dropdown cat__top-bar__avatar-dropdown">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="cat__top-bar__avatar" href="javascript:void(0);">
                            <img src="/cvadmin/modules/dummy-assets/common/img/avatars/1.jpg" />
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Home</div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                    </ul>
                </div>
            </div>
            <div class="cat__top-bar__item">
                <div class="cat__top-bar__menu-button cat__menu-right__action--menu-toggle">
                    <i class="fa fa-bars"><!-- --></i>
                </div>
            </div>
        </div>
    </div>
</template>
