<template>
    <div class="cat__content">
        <section class="card cat__core__card-with-sidebar">
            <div class="cat__core__card-sidebar">
                <div class="btn-group-vertical btn-group-justified">
                    <router-link v-for="route in visaSettingRoutes" :key="route.name" class="btn" :to="{name: route.name}" tag="button">{{ route.meta.title }}</router-link>
                </div>
                <!--
                <div class="btn-group-vertical btn-group-justified">
                    <router-link class="btn" :to="{name: 'visa-countries'}" tag="button">Visa Countries</router-link>
                    <router-link class="btn" :to="{name: 'visa-market-countries'}" tag="button">Visa Market Countries</router-link>
                    <router-link class="btn" :to="{name: 'visa-types'}" tag="button">Visa Types</router-link>
                    <router-link class="btn" :to="{name: 'visa-document-fields'}" tag="button">Required Document Fields</router-link>
                    <router-link class="btn" :to="{name: 'visa-general-terms-conditions'}" tag="button">Terms & Conditions</router-link>
                </div>

                    <br>
                    <p>Set your visa services settings here.</p>
                -->
            </div>
            <div class="card-header">
                <div class="pull-right mt-2">
                    <span class="mr-3">
                        <router-link class="cat__core__link--blue" tag="a" :to="{name:'visas'}">
                            <i class="fa fa-ticket mr-2"></i>
                            Visas
                        </router-link>
                    </span>
                </div>
                <span class="cat__core__title">
                    <strong>Visas - Settings</strong>
                </span>
            </div>
            <div class="card-block">
                <div class="row">
                    <router-view></router-view>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import settingRoutes from '../../../../router/services/visas/setting-routes'
    export default {
        data () {
            return {
                visaSettingRoutes: settingRoutes
            }
        },
        mounted () {
        }
    }
</script>
