visaDocumentField<template>
    <div class="col-md-6">
        <div class="mb-5">
            <h5 class="text-black mb-5"><strong>Visa Document Fields</strong></h5>
            <form class="mb-5" @submit.prevent>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="visas-settings-visa-document-field">Document Field</label>
                    <div class="col-md-9">
                        <input type="text" v-model="visaDocumentField.name" class="form-control" placeholder="Travel Document" id="visas-settings-visa-document-field">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <span v-if="!visaDocumentField.isProcessing()">
                            <button v-if="!visaDocumentField.id" @click="onAddVisaDocumentField" type="button" class="btn btn-primary">Submit</button>
                            <button v-else @click="onUpdateVisaDocumentField" type="button" class="btn btn-primary">Update</button>
                        </span>
                        <spinner-button v-else></spinner-button>
                        <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive mb-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><strong>#</strong></th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(field, index) in visaDocumentFields">
                            <td><strong>{{ index + 1 }}</strong></td>
                            <td>{{ field.name }}</td>
                            <td>
                                <button @click="onEditVisaDocumentField(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                    <i class="icmn-pencil" aria-hidden="true"></i>
                                </button>
                                <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                    <i class="icmn-bin" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveVisaDocumentField"></confirmation>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                visaDocumentField: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure, you want to delete the field?",
                dup: new Form (),
                visaDocumentFieldIndexForEdit: -1,
                visaDocumentFieldIndexForDelete: -1
            }
        },
        computed: {
            ...mapGetters(['visaDocumentFields'])
        },
        methods: {
            ...mapActions(['addVisaDocumentField', 'updateVisaDocumentField', 'removeVisaDocumentField']),
            onAddVisaDocumentField () {
                this.addVisaDocumentField(this.visaDocumentField);
                this.clear();
            },
            clear () {
                this.visaDocumentField.resetData();
                this.visaDocumentFieldIndexForDelete = -1;
                this.visaDocumentFieldIndexForEdit = -1;
            },
            onEditVisaDocumentField (index) {
                this.visaDocumentFieldIndexForEdit = index;
                this.visaDocumentField.setDataWith(this.visaDocumentFields[index]);
            },
            onUpdateVisaDocumentField () {
                this.updateVisaDocumentField({ visaDocumentField: this.visaDocumentField, index: this.visaDocumentFieldIndexForEdit });
                this.clear();
            },
            deleteConfirmation (index) {
                this.showConfirm = true;
                this.visaDocumentFieldIndexForDelete = index;
            },
            onRemoveVisaDocumentField () {
                this.showConfirm = false;
                this.removeVisaDocumentField({ index: this.visaDocumentFieldIndexForDelete, form: this.dup});
                this.clear();
            }
        }
    }
</script>
