<template>
    <div class="col-md-12">
        <div class="mb-5">
            <h5 class="text-black mb-5"><strong>General Visa Terms & Conditions</strong></h5>
            <form class="mb-5" @submit.prevent>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Terms & Conditions</label>
                            <editor :model="visaGeneralTerms.terms_conditions" v-on:updated="onTCSUpdated"></editor>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button v-if="!visaGeneralTerms.isProcessing()" @click="onVisaGeneralTermsSubmit" type="button" class="btn btn-primary">
                        <span v-if="!visaGeneralTerms.id">Add</span>
                        <span v-else>Update</span>
                    </button>
                    <spinner-button v-else></spinner-button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        computed: {
            ...mapGetters(['generalTermsConditions'])
        },
        data () {
            return {
                visaGeneralTerms: new Form(),
            }
        },
        methods: {
            ...mapActions(['updateVisaGeneralTerms']),

            onTCSUpdated (conditions) {
                this.visaGeneralTerms.terms_conditions = conditions;
            },

            onVisaGeneralTermsSubmit () {
                this.updateVisaGeneralTerms(this.visaGeneralTerms);
            }
        },
        mounted () {
            if(! _.isEmpty(this.generalTermsConditions)) {
                this.visaGeneralTerms.setDataWith(this.generalTermsConditions)
            }
        }
    }
</script>
