<template>
    <div class="col-md-6">
        <div class="mb-5">
            <h5 class="text-black mb-5"><strong>Visa Types</strong></h5>
            <form class="mb-5" @submit.prevent>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="visas-settings-visa-type">Visa Type</label>
                    <div class="col-md-9">
                        <input type="text" v-model="visaType.name" class="form-control" placeholder="Visit Visa" id="visas-settings-visa-type">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <span v-if="!visaType.isProcessing()">
                            <button v-if="!visaType.id" @click="onAddVisaType" type="button" class="btn btn-primary">Submit</button>
                            <button v-else @click="onUpdateVisaType" type="button" class="btn btn-primary">Update</button>
                        </span>
                        <spinner-button v-else></spinner-button>
                        <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive mb-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><strong>#</strong></th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(type, index) in visaTypes">
                            <td><strong>{{ index + 1 }}</strong></td>
                            <td>{{ type.name }}</td>
                            <td>
                                <button @click="onEditVisaType(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                    <i class="icmn-pencil" aria-hidden="true"></i>
                                </button>
                                <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                    <i class="icmn-bin" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveVisaType"></confirmation>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                visaType: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure, you want to delete the visa type?",
                dup: new Form (),
                visaTypeIndexForEdit: -1,
                visaTypeIndexForDelete: -1
            }
        },
        computed: {
            ...mapGetters(['visaTypes'])
        },
        methods: {
            ...mapActions(['addVisaType', 'updateVisaType', 'removeVisaType']),
            onAddVisaType () {
                this.addVisaType(this.visaType);
                this.clear();
            },
            clear () {
                this.visaType.resetData();
                this.visaTypeIndexForDelete = -1;
                this.visaTypeIndexForEdit = -1;
            },
            onEditVisaType (index) {
                this.visaTypeIndexForEdit = index;
                this.visaType.setDataWith(this.visaTypes[index]);
            },
            onUpdateVisaType () {
                this.updateVisaType({ visaType: this.visaType, index: this.visaTypeIndexForEdit });
                this.clear();
            },
            deleteConfirmation (index) {
                this.showConfirm = true;
                this.visaTypeIndexForDelete = index;
            },
            onRemoveVisaType () {
                this.showConfirm = false;
                this.removeVisaType({ index: this.visaTypeIndexForDelete, form: this.dup});
                this.clear();
            }
        }
    }
</script>
