<template>
  <div>
      <div class="form-group row">
        <div class="col-md-3">
          <label class="control-label">Search for locations</label>
        </div>
        <div class="col-md-5">
          <input :id="randomID" class="form-control" type="text"  placeholder="Enter a name to search"  autocomplete="on" runat="server" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label> Name </label>
        </div>
        <div class="col-md-5">
           <input type="text" disabled name="city2" class="form-control" v-model="location.name"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label> Code </label>
        </div>
        <div class="col-md-5">
          <input type="text" disabled class="form-control" name="cityCode" v-model="location.code"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label> Latitude </label>
        </div>
        <div class="col-md-5">
          <input type="number" disabled class="form-control" name="cityLat" v-model="location.lat"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label> Longitude </label>
        </div>
        <div class="col-md-5">
          <input type="number" disabled class="form-control"  name="cityLng" v-model="location.lng"/>
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    props:['location', 'title', 'isReset'],
    data() {
      return{
        name:'',
        lat:'',
        lng:'',
        code: '',
        randomID : randomString()
      }
    },
    watch :{
      'location.name': function (newValue) {
        console.log(newValue, "printing")
        if(!newValue) {
          this.createAutoCompleteInput()
          //this.name = this.lat = this.lng = this.code = "";
        }
      }
    },
    mounted() {
      this.initializeLocationSearch();
    },
    methods:{
      createAutoCompleteInput() {
        document.getElementById(this.randomID).value = "";        
      },
      initializeLocationSearch() {
        var input = document.getElementById(this.randomID);
        if(typeof google != 'undefined') {
          var self = this;
          var autocomplete = new google.maps.places.Autocomplete(input);
          google.maps.event.addListener(autocomplete, 'place_changed', function () {
              var place = autocomplete.getPlace();

              self.$emit('location-updated',{
                lat: place.geometry.location.lat().toFixed(6),
                lng: place.geometry.location.lng().toFixed(6),
                code: place.address_components[0].short_name,
                name: place.name
              })
          });
        }
      }
    }
  }
</script>