<template>
    <div class="row">
        <div class="col-md-6 mb-5">
            <h5 class="text-black mb-5"><strong>Country Services</strong></h5>
            <form class="mb-5" @submit.prevent>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="location-services-country">Country</label>
                    <div class="col-md-9">
                        <select @change="onCountrySelected" v-model="countryIndex" class="form-control" id="location-services-country">
                            <option v-bind:key="country.id" v-for="(country, index) in countries" :value="index">{{ country.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="location-services-services">Country</label>
                    <div class="col-md-9">
                        <div class="form-check">
                            <label v-for="service in services" class="form-check-label d-block" v-bind:key="service.id">
                                <input class="form-check-input" type="checkbox"
                                    v-model="locationServices.services" :value="service.id">
                                {{service.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <span v-if="!locationServices.isProcessing()">
                            <button @click="onUpdateLocationServices" type="button" class="btn btn-primary">Update</button>
                        </span>
                        <spinner-button v-else></spinner-button>
                        <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                locationServices: new Form (),
                countryIndex: undefined
            }
        },
        computed: {
            ...mapGetters(['countries', 'services'])
        },
        mounted () {
            this.locationServices.setDataWith(this.getDefaultData());
        },
        methods: {
            ...mapActions(['updateCountryServices']),
            getDefaultData (countryIndex) {
                var data = { services: [] }
                if(!countryIndex) {
                    return data;
                }
                var country = this.countries[this.countryIndex];
                var services = (country && country.services && country.services.length) ? country.services : [];
                services.forEach((service) => {
                    data.services.push(service.id);
                });
                return data;
            },
            clear () {
                this.countryIndex = undefined;
                this.locationServices.setDataWith(this.getDefaultData());
            },
            onCountrySelected () {

                this.locationServices.setDataWith(this.getDefaultData(this.countryIndex));
            },
            onUpdateLocationServices () {
                this.updateCountryServices({country_index: this.countryIndex, locationServices: this.locationServices})
                this.clear();
            }
        }
    }
</script>
