<template>
    <div>
        <div class="row mb-5">
            <div class="col-md-12">
                <router-link v-bind:key="route.name" v-for="route in routes.children" class="btn btn-secondary mr-1" :to="{name: route.name}" tag="button">{{route.meta.title}}</router-link>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    import locationServicesRoutes from '../../../router/settings/location-services'
    export default {
        data () {
            return {
                routes: locationServicesRoutes[0]
            }
        }
    }
</script>
