<template>
    <div class="row">
            <div class="col-md-6 mb-5">
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-customer">Customer</label>
                        <div class="col-md-9">
                            <customer-search v-if="!visaEnquiry.id" v-model="visaEnquiry.customer_id" @onCustomerSelected="onCustomerSelected"></customer-search>
                            <strong v-else disabled class="form-control">{{ getUserFullName(visaEnquiry.customer) }}</strong>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-name">Enquiry Name</label>
                        <div class="col-md-9">
                            <input v-model="visaEnquiry.name" class="form-control" id="visa-enquiry-name" type="text" name="" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Country</label>
                        <div class="col-md-9">
                            <select :disabled="visaEnquiry.id" @change="onCountrySelected" v-model="visaEnquiry.country_id" class="form-control">
                                <option disabled value="">Please select country</option>
                                <option v-for="visaCountry in visaCountries" :value="visaCountry.id">{{ visaCountry.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Select Visa</label>
                        <div class="col-md-9">
                            <select :disabled="visaEnquiry.id" @change="onVisaSelected" v-model="visaEnquiry.visa_id" class="form-control">
                                <option disabled value="">Please select visa</option>
                                <option v-for="visa in filteredVisas" :value="visa.id">{{ visa.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" v-for="(info, index) in visaEnquiry.traveler_info">
                        <label class="col-md-3 col-form-label" :for="'visa-enquiry-traveler-info-' + index">
                            {{info.title}} <small>({{info.min_age}} - {{info.max_age}})</small></label>
                        <div class="col-md-9">
                            <input type="number" v-model.number="info.no_of_persons" class="form-control" :id="'visa-enquiry-traveler-info-' + index">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-from-date">Date of Travel</label>
                        <div class="col-md-9">
                            <input type="date" v-model="visaEnquiry.from_date" class="form-control" id="visa-enquiry-from-date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-to-date">Return Date</label>
                        <div class="col-md-9">
                            <input type="date" v-model="visaEnquiry.to_date" class="form-control" id="visa-enquiry-to-date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">&nbsp;</label>
                        <div class="col-md-9">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" v-model="visaEnquiry.is_tentative" id="visa-enquiry-tentative">
                                    Is travel date flexible?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-notes">Notes</label>
                        <div class="col-md-9">
                            <textarea v-model="visaEnquiry.notes" class="form-control" id="visa-enquiry-notes" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-status">Status</label>
                        <div class="col-md-9">
                            <select v-model="visaEnquiry.status" class="form-control" id="visa-enquiry-status">
                                <option v-for="estatus in enquiryStatuses" :value="estatus.id">{{ estatus.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" v-if="visaEnquiry.id">
                        <label class="col-md-3 col-form-label" for="visa-enquiry-assigned-to">Assigned To</label>
                        <div class="col-md-9">
                            <select v-model="visaEnquiry.assigned_to" class="form-control" id="visa-enquiry-assigned-to">
                                <option v-for="admin in admins" :value="admin.id">{{ getUserFullName(admin) }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!visaEnquiry.isProcessing()">
                                <button v-if="!visaEnquiry.id" @click="onAddVisaEnquiry" type="button" class="btn btn-primary">Submit</button>
                                <button v-else @click="onUpdateVisaEnquiry" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        props: ['visaEnquiryIndex'],
        data () {
            return {
                visaEnquiry: new Form (),
                filteredVisas: [],
                dup: new Form(),
                confirmMessage: "Are you sure, you want to delete the enquiry?",
            }
        },
        computed: {
            ...mapGetters(['countries', 'visaCountries', 'countryByID', 'visasByCountryID',
                        'enquiryStatuses', 'visaEnquiries', 'admins', 'getUserFullName']),
        },
        methods: {
            ...mapActions(['addVisaEnquiry', 'updateVisaEnquiry']),
            onCustomerSelected (customer_id) {
                this.$set(this.visaEnquiry, 'customer_id', customer_id);
            },
            onAddVisaEnquiry () {
                this.addVisaEnquiry(this.visaEnquiry);
                this.clear();
            },
            clear () {
                this.visaEnquiry.resetData();
                this.visaEnquiry.setDataWith(this.getDefaultData());
                // this.filteredVisas = [] no need, as selecting the country will override the existing value
                // this.visaEnquiryIndex = undefined;
            },
            getDefaultData () {
                return { is_tentative: true, traveler_info: [], country_id: '', visa_id: '' }
            },
            onUpdateVisaEnquiry () {
                this.updateVisaEnquiry({index: this.visaEnquiryIndex, visaEnquiry: this.visaEnquiry});
            },
            onCountrySelected () {
                if(!this.visaEnquiry.country_id) {
                    return;
                }
                this.setFilteredVisas();
            },
            setFilteredVisas () {
                this.filteredVisas = this.visasByCountryID(this.visaEnquiry.country_id);
            },
            onVisaSelected (event) {
                if(!this.visaEnquiry.visa_id || this.visaEnquiryIndex >= 0) {
                    return;
                }
                var visaIndex = getIndexByID(this.filteredVisas, this.visaEnquiry.visa_id);
                var visa = this.filteredVisas[visaIndex];
                var traveler_info = [];
                visa.prices.forEach ((price) => {
                    traveler_info.push({ visa_pricing_id: price.id,
                        no_of_persons: 0, title: price.title, min_age: price.min_age, max_age: price.max_age });
                });
                this.$set(this.visaEnquiry, 'traveler_info', traveler_info);
            }
        },
        mounted () {
            if(this.visaEnquiries && this.visaEnquiryIndex >= 0 && this.visaEnquiries[this.visaEnquiryIndex]) {
                this.visaEnquiry.setDataWith($.extend(true, {}, this.visaEnquiries[this.visaEnquiryIndex]));
                this.setFilteredVisas();
            } else {
                this.visaEnquiry.setDataWith(this.getDefaultData());
            }
        }
    }
</script>
