<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-5">
                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#visa-enquiry-filters" aria-expanded="false" aria-controls="collapseExample">
                        View / Hide Filters
                    </button>
                </div>
                <div class="col-md-12 collapse" id="visa-enquiry-filters">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Customer</label>
                                <customer-search v-model="search.customer_id" @onCustomerSelected="onCustomerSelected"></customer-search>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-enquiry-search-code">Enquiry Code</label>
                                <input type="text" v-model="search.code" class="form-control" id="visa-enquiry-search-code">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-enquiry-search-name">Enquiry Name</label>
                                <input type="text" v-model="search.name" class="form-control" id="visa-enquiry-search-name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-enquiry-search-visa-country">Visa Country</label>
                                <select v-model="search.country_id" class="form-control" id="visa-enquiry-search-visa-country">
                                    <option v-for="visaCountry in visaCountries" :value="visaCountry.id">{{ visaCountry.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-enquiry-search-enquiry-date-from">Date of Enquiry (From)</label>
                                <input type="date" v-model="search.enquiry_date_from" class="form-control" id="visa-enquiry-search-enquiry-date-from">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-enquiry-search-enquiry-date-to">Date of Enquiry (To)</label>
                                <input type="date" v-model="search.enquiry_date_to" class="form-control" id="visa-enquiry-search-enquiry-date-to">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-enquiry-search-travel-date-after">Date of Travel (After)</label>
                                <input type="date" v-model="search.travel_date_after" class="form-control" id="visa-enquiry-search-travel-date-after">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-enquiry-search-travel-date-before">Date of Travel (Before)</label>
                                <input type="date" v-model="search.travel_date_before" class="form-control" id="visa-enquiry-search-travel-date-before">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-enquiry-search-created-by">Created By</label>
                                <select v-model="search.created_by" class="form-control" id="visa-enquiry-search-created-by">
                                    <option v-for="admin in admins" :value="admin.id">{{ getUserFullName(admin) }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-enquiry-search-status">By Status</label>
                                <multiselect v-model="selectedStatuses" :options="enquiryStatuses" :multiple="true" :close-on-select="false"
                                    :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Select status(es)"
                                    label="name" track-by="name">
                                </multiselect>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-enquiry-search-assigned-to">Assigned To</label>
                                <select v-model="search.assigned_to" class="form-control" id="visa-enquiry-search-assigned-to">
                                    <option v-for="admin in admins" :value="admin.id">{{ getUserFullName(admin) }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button @click="onSearchVisaEnquiries" type="button" class="btn btn-icon btn-primary btn-rounded mt-4">
                                    <i class="icmn-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <pulse-loader :loading="search.isProcessing()"></pulse-loader>
                    <table class="table table-responsive font-size-12" v-if="!search.isProcessing()">
                        <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th>Code</th>
                                <th>Enquiry Name</th>
                                <th>Customer</th>
                                <th>Country</th>
                                <th>Visa</th>
                                <th># Persons</th>
                                <th>Status</th>
                                <th>Created By</th>
                                <th>Assigned To</th>
                                <th>Process Booking</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(visaEnquiry, index) in visaEnquiries">
                                <th><strong>{{ index + 1 }}</strong></th>
                                <th><strong>{{ visaEnquiry.code }}</strong></th>
                                <th><strong>{{ visaEnquiry.name }}</strong></th>
                                <td>{{ getUserFullName(visaEnquiry.customer) }}</td>
                                <td>{{ visaCountryName(visaEnquiry.country_id) }}</td>
                                <td>{{ visaName(visaEnquiry.visa_id) }}</td>
                                <td>{{ getTotalPersons(visaEnquiry) }}</td>
                                <td>{{ statusName(visaEnquiry.status) }}</td>
                                <td>{{ getUserFullName(visaEnquiry.creator) }}</td>
                                <td>{{ adminName(visaEnquiry.assigned_to) }}</td>
                                <td>
                                    <span v-if="visaEnquiry.booking_code">{{ visaEnquiry.booking_code }}</span>
                                    <a v-else href="#" class="text-danger" @click="onBookVisaEnquiry(visaEnquiry, index)">Book</a>
                                </td>
                                <td>
                                    <a class="text-primary mr-1" @click="onViewVisaEnquiry(visaEnquiry)" href="javascript: void(0)">
                                        <i class="fa fa-dollar"></i>
                                    </a>
                                    <router-link tag="a" class="text-warning mr-1" :to="{name: 'update-visa-enquiry', params: {visaEnquiryIndex: index}}">
                                        <i class="icmn-pencil"></i>
                                    </router-link>
                                    <a class="text-danger" @click="deleteConfirmation(index)" href="javascript: void(0)">
                                        <i class="icmn-bin"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveVisaEnquiry"></confirmation>
                </div>
            </div>
            <div class="modal fade" id="view-visa-enquiry" tabindex="-1" role="dialog" aria-labelledby="viewVisaEnquiry" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewVisaEnquiry">Visa Enquiry Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <dl class="row">
                                    <dt class="col-md-4">Customer</dt>
                                    <dd class="col-md-8">{{ getUserFullName(selectedVisaEnquiry.customer) }}</dd>

                                    <dt class="col-md-4">Country</dt>
                                    <dd class="col-md-8">
                                        {{ visaCountryName(selectedVisaEnquiry.country_id) }} -
                                        {{ visaName(selectedVisaEnquiry.visa_id) }}
                                    </dd>

                                    <dt class="col-md-4">From</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaEnquiry.from_date }}
                                    </dd>
                                    <dt class="col-md-4">To</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaEnquiry.to_date }}
                                    </dd>
                                    <dt class="col-md-4">Is Tentative</dt>
                                    <dd class="col-md-8">
                                        <span v-if="selectedVisaEnquiry.is_tentative">True</span>
                                        <span v-else>False</span>
                                    </dd>
                                    <dt class="col-md-4">Notes</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaEnquiry.notes }}
                                    </dd>

                                    <dt class="col-md-4">Created</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaEnquiry.created_at }}
                                    </dd>

                                    <dt class="col-md-4">Last Updated</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaEnquiry.updated_at }}
                                    </dd>
                                </dl>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Pricing</strong>
                                        <table class="table table-responsive font-size-12">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Embassy Fee</th>
                                                    <th>VFS Fee</th>
                                                    <th>Other Charges</th>
                                                    <th>Service Fee</th>
                                                    <th># Persons</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="info in travelerInfo" v-if="info.no_of_persons">
                                                    <td>{{ info.title }}
                                                        <small v-if="info.max_age">({{info.min_age}} - {{info.max_age}})</small>
                                                        <small v-else>({{info.min_age}}+)</small>
                                                    </td>
                                                    <td>{{ info.price }}</td>
                                                    <td>{{ info.vfs_fee }}</td>
                                                    <td>{{ info.other_charges }}</td>
                                                    <td>{{ info.service_fee }}</td>
                                                    <td>{{ info.no_of_persons }}</td>
                                                    <td>{{ getTotalInfoPrice(info) }}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6"><strong>Total</strong></td>
                                                    <td>{{getTotalPrice()}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                search: new Form (),
                selectedVisaEnquiry: new Form (),
                selectedStatuses: [],
                selectedVisa: {},
                travelerInfo: [],
                showConfirm: false,
                confirmMessage: "Are you sure you want to delete the enquiry?",
                dup: new Form (),
                visaEnquiryIndexForDelete: undefined
            }
        },
        computed: {
            ...mapGetters(['visaCountries', 'visaEnquiries', 'visaByID', 'visaName', 'enquiryStatuses', 'statusName',
                            'visaCountryName', 'admins', 'getUserFullName', 'adminName', 'getVisaPricing'])
        },
        methods: {
            ...mapActions(['fetchVisaEnquiries', 'removeVisaEnquiry', 'bookVisaEnquiry']),
            getTotalPrice () {
                var totalPrice = 0;
                this.travelerInfo.forEach((info) => {
                    if(info.no_of_persons) {
                        totalPrice += this.getTotalInfoPrice(info);
                    }
                });
                return totalPrice;
            },
            getTotalInfoPrice (pricingInfo) {
                var singlePersonPrice = pricingInfo.price + pricingInfo.vfs_fee
                                        + pricingInfo.other_charges + pricingInfo.service_fee;
                return singlePersonPrice * pricingInfo.no_of_persons;
            },
            getTotalPersons (enquiry) {
                var totalPersons = 0;
                if(enquiry && enquiry.traveler_info.length) {
                    enquiry.traveler_info.forEach((info) => {
                        totalPersons += info.no_of_persons;
                    });
                }
                return totalPersons;
            },
            updateSearchStatuses () {
                this.$set(this.search, 'statuses', []);
                this.selectedStatuses.forEach((status) => {
                    this.search.statuses.push(status.id);
                });
            },
            onViewVisaEnquiry (visaEnquiry, index) {
                this.selectedVisaEnquiry.setDataWith(visaEnquiry);
                this.selectedVisa = this.visaByID(this.selectedVisaEnquiry.visa_id);
                this.travelerInfo = $.extend(true, [], this.selectedVisaEnquiry.traveler_info);
                this.travelerInfo.forEach((info) => {
                    var pricing = this.getVisaPricing(info.visa_pricing_id, this.selectedVisa);
                    this.$set(info, 'price', pricing.price);
                    this.$set(info, 'vfs_fee', pricing.vfs_fee);
                    this.$set(info, 'other_charges', pricing.other_charges);
                    this.$set(info, 'service_fee', pricing.service_fee);
                });
                $('#view-visa-enquiry').modal('show');
            },
            onSearchVisaEnquiries () {
                this.updateSearchStatuses();
                this.fetchVisaEnquiries(this.search);
            },
            onCustomerSelected (customer_id) {
                this.$set(this.search, 'customer_id', customer_id);
            },
            deleteConfirmation (index) {
                this.visaEnquiryIndexForDelete = index;
                this.showConfirm = true;
            },
            onRemoveVisaEnquiry () {
                this.removeVisaEnquiry({index: this.visaEnquiryIndexForDelete, form: this.dup});
                this.clear();
            },
            clear () {
                this.visaEnquiryIndexForDelete = undefined;
                this.showConfirm = false;
                this.selectedVisaEnquiry.resetData();
                this.selectedVisa = {};
            },
            onBookVisaEnquiry (visaEnquiry, index) {
                if(confirm("Are you sure you want to book the enquiry?")) {
                    this.bookVisaEnquiry({enquiry: visaEnquiry, index: index, form: this.dup});
                }
            }
        }
    }
</script>
