<template>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-5">
                <h5 class="text-black mb-5"><strong>Banks Management</strong></h5>
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-country">Country</label>
                        <div class="col-md-9">
                            <select v-model="bank.country_id" class="form-control" id="system-settings-bank-country">
                                <option v-for="country in countries" :value="country.id">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-city-name">City Name</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.city_name" class="form-control" placeholder="Hyderabad" id="system-settings-city-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-name">Bank Name</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.bank_name" class="form-control" placeholder="ICICI" id="system-settings-bank-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-branch-name">Branch Name</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.branch_name" class="form-control" placeholder="Dilsukhnagar" id="system-settings-branch-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-account-holder-name">Account Name</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.account_holder_name" class="form-control" placeholder="Columbus Vacations Pvt Ltd" id="system-settings-bank-account-holder-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-account-no">Account No</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.account_no" class="form-control" id="system-settings-bank-account-no">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-ifsc-code">IFSC Code</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.ifsc_code" class="form-control" id="system-settings-bank-ifsc-code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-micr-code">MICR Code</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.micr_code" class="form-control" id="system-settings-bank-micr-code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-swift-code">SWIFT Code</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.swift_code" class="form-control" id="system-settings-bank-swift-code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-other-code-title">Other Code Title</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.other_code_title" class="form-control" id="system-settings-bank-other-code-title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-other-code">Other Code</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.other_code" class="form-control" id="system-settings-bank-other-code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-address">Bank Address</label>
                        <div class="col-md-9">
                            <textarea rows="3" v-model="bank.address" class="form-control" id="system-settings-bank-address">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-bank-pin-code">Pin Code</label>
                        <div class="col-md-9">
                            <input type="text" v-model="bank.pin_code" class="form-control" placeholder="Visas" id="system-settings-bank-pin-code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!bank.isProcessing()">
                                <button v-if="!bank.id" @click="onAddBank" type="button" class="btn btn-primary">Submit</button>
                                <button v-else @click="onUpdateBank" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive mb-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><strong>#</strong></th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Bank Name</th>
                            <th>Branch</th>
                            <th>Account Name</th>
                            <th>Account #</th>
                            <th>IFSC Code</th>
                            <th>MICR Code</th>
                            <th>Swift Code</th>
                            <th>Other Code</th>
                            <th>Pin Code</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(eachBank, index) in banks">
                            <td><strong>{{ index + 1 }}</strong></td>
                            <td>{{ eachBank.country_id }}</td>
                            <td>{{ eachBank.city_name }}</td>
                            <td>{{ eachBank.bank_name }}</td>
                            <td>{{ eachBank.branch_name }}</td>
                            <td>{{ eachBank.account_holder_name }}</td>
                            <td>{{ eachBank.account_no }}</td>
                            <td>{{ eachBank.ifsc_code }}</td>
                            <td>{{ eachBank.micr_code }}</td>
                            <td>{{ eachBank.swift_code }}</td>
                            <td><strong>{{ eachBank.other_code_title }}</strong><br>{{ eachBank.other_code }}</td>
                            <td>{{ eachBank.pin_code }}</td>
                            <td>
                                <button @click="onEditBank(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                    <i class="icmn-pencil" aria-hidden="true"></i>
                                </button>
                                <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                    <i class="icmn-bin" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveBank"></confirmation>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                bank: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure, you want to delete the bank?",
                dup: new Form (),
                bankIndexForEdit: -1,
                bankIndexForDelete: -1
            }
        },
        computed: {
            ...mapGetters(['countries', 'banks'])
        },
        methods: {
            ...mapActions(['addBank', 'updateBank', 'removeBank']),
            onAddBank () {
                this.addBank(this.bank);
                this.clear();
            },
            clear () {
                this.bank.resetData();
                this.bankIndexForDelete = -1;
                this.bankIndexForEdit = -1;
            },
            onEditBank (index) {
                this.bankIndexForEdit = index;
                this.bank.setDataWith(this.banks[index]);
            },
            onUpdateBank () {
                this.updateBank({ bank: this.bank, index: this.bankIndexForEdit });
                this.clear();
            },
            deleteConfirmation (index) {
                this.showConfirm = true;
                this.bankIndexForDelete = index;
            },
            onRemoveBank () {
                this.showConfirm = false;
                this.removeBank({ index: this.bankIndexForDelete, form: this.dup});
                this.clear();
            }
        }
    }
</script>
