<template>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-5">
                <h5 class="text-black mb-5"><strong>Services</strong></h5>
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-service-name">Service Name</label>
                        <div class="col-md-9">
                            <input type="text" v-model="service.name" class="form-control" placeholder="Visas" id="system-settings-service-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-availability-status">Availability Status</label>
                        <div class="col-md-9">
                            <select v-model="service.availability_status" class="form-control" id="system-settings-availability-status">
                                <option v-for="status in availabilityStatuses" :value="status.value">{{ status.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!service.isProcessing()">
                                <button v-if="!service.id" @click="onAddService" type="button" class="btn btn-primary">Submit</button>
                                <button v-else @click="onUpdateService" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive mb-5">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(eachService, index) in services">
                                <td><strong>{{ index + 1 }}</strong></td>
                                <td>{{ eachService.name }}</td>
                                <td>{{ eachService.availability_status }}</td>
                                <td>
                                    <button @click="onEditService(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                        <i class="icmn-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                        <i class="icmn-bin" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveService"></confirmation>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                service: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure, you want to delete the service?",
                dup: new Form (),
                serviceIndexForEdit: -1,
                serviceIndexForDelete: -1
            }
        },
        computed: {
            ...mapGetters(['services', 'availabilityStatuses'])
        },
        methods: {
            ...mapActions(['addService', 'updateService', 'removeService']),
            onAddService () {
                this.addService(this.service);
                this.clear();
            },
            clear () {
                this.service.resetData();
                this.serviceIndexForDelete = -1;
                this.serviceIndexForEdit = -1;
            },
            onEditService (index) {
                this.serviceIndexForEdit = index;
                this.service.setDataWith(this.services[index]);
            },
            onUpdateService () {
                this.updateService({ service: this.service, index: this.serviceIndexForEdit });
                this.clear();
            },
            deleteConfirmation (index) {
                this.showConfirm = true;
                this.serviceIndexForDelete = index;
            },
            onRemoveService () {
                this.showConfirm = false;
                this.removeService({ index: this.serviceIndexForDelete, form: this.dup});
                this.clear();
            }
        }
    }
</script>
