<template>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-5">
                <h5 class="text-black mb-5"><strong>Status</strong></h5>
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-status-name">Status</label>
                        <div class="col-md-9">
                            <input type="text" v-model="status.name" class="form-control" placeholder="Booked" id="system-settings-status-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-status-type">Status Type</label>
                        <div class="col-md-9">
                            <select v-model="status.type" class="form-control" id="system-settings-status-type">
                                <option value="Enquiry">Enquiry</option>
                                <option value="Booking">Booking</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="system-settings-status-description">Description</label>
                        <div class="col-md-9">
                            <textarea v-model="status.description" rows="6" class="form-control" id="system-settings-status-description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!status.isProcessing()">
                                <button v-if="!status.id" @click="onAddStatus" type="button" class="btn btn-primary">Submit</button>
                                <button v-else @click="onUpdateStatus" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive mb-5">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(eachStatus, index) in statuses">
                                <td><strong>{{ index + 1 }}</strong></td>
                                <td>{{ eachStatus.name }}</td>
                                <td>{{ eachStatus.type }}</td>
                                <td>
                                    <button @click="onEditStatus(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                        <i class="icmn-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                        <i class="icmn-bin" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveStatus"></confirmation>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                status: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure, you want to delete the status?",
                dup: new Form (),
                statusIndexForEdit: -1,
                statusIndexForDelete: -1
            }
        },
        computed: {
            ...mapGetters(['statuses'])
        },
        methods: {
            ...mapActions(['addStatus', 'updateStatus', 'removeStatus']),
            onAddStatus () {
                this.addStatus(this.status);
                this.clear();
            },
            clear () {
                this.status.resetData();
                this.statusIndexForDelete = -1;
                this.statusIndexForEdit = -1;
            },
            onEditStatus (index) {
                this.statusIndexForEdit = index;
                this.status.setDataWith(this.statuses[index]);
            },
            onUpdateStatus () {
                this.updateStatus({ status: this.status, index: this.statusIndexForEdit });
                this.clear();
            },
            deleteConfirmation (index) {
                this.showConfirm = true;
                this.statusIndexForDelete = index;
            },
            onRemoveStatus () {
                this.showConfirm = false;
                this.removeStatus({ index: this.statusIndexForDelete, form: this.dup});
                this.clear();
            }
        }
    }
</script>
