<template>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-5">
                <h5 class="text-black mb-5"><strong>Countries</strong></h5>
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="locations-countries-country">Country</label>
                        <div class="col-md-9">
                            <select @change="onCountrySelected" v-model="countryIndex" class="form-control" id="locations-countries-country">
                                <option v-bind:key="country.id" v-for="(country, index) in countries" :value="index">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="locations-countries-searchable-terms">Searchable Terms</label>
                        <div class="col-md-9">
                            <textarea v-model="countryData.searchable_terms" class="form-control"
                                rows="3" id="locations-countries-searchable-terms"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!countryData.isProcessing()">
                                <button @click="onUpdateCountry" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                countryData: new Form (),
                countryIndex: undefined
            }
        },
        computed: {
            ...mapGetters(['countries'])
        },
        methods: {
            ...mapActions(['updateCountry']),
            clear () {
                this.countryData.resetData();
                this.countryIndex = undefined;
            },
            onUpdateCountry () {
                if(!this.countryIndex) {
                    alert("Please select a valid country");
                    return;
                }
                this.updateCountry({ data: this.countryData, country_index: this.countryIndex });
                this.clear();
            },
            onCountrySelected () {
                if(!this.countryIndex) {
                    return;
                }
                var country = this.countries[this.countryIndex];
                var searchable_terms = (country && country.searchable_terms) ? country.searchable_terms : '';
                this.$set(this.countryData, 'searchable_terms', searchable_terms);
            }
        }
    }
</script>
