<template>
    <div>
        <div class="row mb-5">
            <div class="col-md-12">
                <router-link class="btn btn-secondary" :to="{name: 'countries'}" tag="button">Countries</router-link>
                <router-link class="btn btn-secondary" :to="{name: 'destinations'}" tag="button">Add Destination</router-link>
                <router-link class="btn btn-secondary" :to="{name: 'destinations'}" tag="button">View Destinations</router-link>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>