<template>
    <div class="cat__content">
        <section class="card">
            <div class="card-header">
                <div class="pull-right mt-2">
                    <span class="mr-3">
                        <router-link class="cat__core__link--blue" tag="a" :to="{name:'visas-settings'}">
                            <i class="icmn-cog mr-2"></i>
                            Settings
                        </router-link>
                    </span>
                </div>
                <span class="cat__core__title"><strong>Visas</strong></span>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-black mb-5"><strong>Add Visa</strong></h5>
                        <form class="mb-5" @submit.prevent>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="visas-add-visa-country">
                                    Select Country
                                </label>
                                <div class="col-md-9">
                                    <select @change="" v-model="visa.country_id" class="form-control" id="visas-add-visa-country">
                                        <option v-for="country in visaCountries" :value="country.id">{{ country.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="visas-add-visa-type">Select Visa Type</label>
                                <div class="col-md-9">
                                    <select @change="" v-model="visa.visa_type_id" class="form-control" id="visas-add-visa-type">
                                        <option v-for="visaType in visaTypes" :value="visaType.id">{{ visaType.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="visas-add-visa-name">Visa Name</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="visa.name" class="form-control" placeholder="B1" id="visas-settings-visa-name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <span v-if="!visa.isProcessing()">
                                        <button v-if="!visa.id" @click="onAddVisa" type="button" class="btn btn-primary">Submit</button>
                                        <button v-else @click="onUpdateVisa" type="button" class="btn btn-primary">Update</button>
                                    </span>
                                    <spinner-button v-else></spinner-button>
                                    <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive mb-5">
                            <h5><strong>List</strong></h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Visa Country</label>
                                        <select placeholder="Select a country" v-model="search.country_id" class="form-control">
                                            <option v-for="(country, index) in visaCountries" :value="country.id">{{ country.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><strong>#</strong></th>
                                        <th>Visa Name</th>
                                        <th>Visa Type</th>
                                        <th>Visa Details</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(fvisa, index) in localFilterVisas">
                                        <td><strong>{{ index + 1 }}</strong></td>
                                        <td>{{ fvisa.name }}</td>
                                        <td>{{ visaTypeByID(fvisa.visa_type_id).name }}</td>
                                        <td>
                                            <!--<router-link :to="{ name: 'visas-detail', params: {visaIndex: index} }" tag="a">Details</router-link>-->
                                            <a href="javascript: void(0)" @click="onDetails(fvisa)">Details</a>
                                        </td>
                                        <td>
                                            <button @click="onEditVisa(fvisa, index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                                <i class="icmn-pencil" aria-hidden="true"></i>
                                            </button>
                                            <button @click="deleteConfirmation(fvisa, index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                                <i class="icmn-bin" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveVisa"></confirmation>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        computed: {
            ...mapGetters(['visaCountries', 'visaTypes', 'visaTypeByID', 'visas', 'visasByCountryID']),
            localFilterVisas () {
                return this.visasByCountryID (this.search.country_id);
            }
        },
        data () {
            return {
                visa: new Form (),
                search: {
                    country_id: undefined,
                },
                visaIndexForEdit: -1,
                visaIndexForDelete: -1,
                showConfirm: false,
                visaForDelete: {},
                confirmMessage: "Are you sure, you want to delete the visa?"
            }
        },
        methods: {
            ...mapActions(['fetchVisas', 'addVisa', 'updateVisa', 'removeVisa', 'clearVisaState']),
            onAddVisa () {
                this.addVisa(this.visa);
                this.clear();
            },

            clear () {
                this.visa.resetData();
                this.visaIndexForEdit = -1;
                this.visaIndexForDelete = -1;
                this.showConfirm = false;
            },

            onEditVisa (visa, index) {
                this.visaIndexForEdit = index;
                this.visa.setDataWith(visa);
            },

            onUpdateVisa () {
                this.updateVisa(this.visa);
                this.clear();
            },

            deleteConfirmation (visa, index) {
                this.showConfirm = true;
                this.visaForDelete = visa;
            },

            onRemoveVisa () {
                this.removeVisa({visa: this.visaForDelete, form: this.dup});
                this.clear();
            },

            onDetails (selectedVisa) {
                this.$router.push({ name: 'visas-detail', params: {visaID: selectedVisa.id}});
            },
        }
    }
</script>
