<template>
    <div class="row">
            <div class="col-md-6 mb-5">
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Customer</label>
                        <div class="col-md-9">
                            <customer-search v-if="!visaBooking.id" v-model="visaBooking.customer_id" @onCustomerSelected="onCustomerSelected"></customer-search>
                            <strong v-else disabled class="form-control">{{ getUserFullName(visaBooking.customer) }}</strong>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Country</label>
                        <div class="col-md-9">
                            <select :disabled="visaBooking.id" @change="onCountrySelected" v-model="visaBooking.country_id" class="form-control">
                                <option disabled value="">Please select country</option>
                                <option v-for="visaCountry in visaCountries" :value="visaCountry.id">{{ visaCountry.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Select Visa</label>
                        <div class="col-md-9">
                            <select :disabled="visaBooking.id" @change="onVisaSelected" v-model="visaBooking.visa_id" class="form-control">
                                <option disabled value="">Please select visa</option>
                                <option v-for="visa in filteredVisas" :value="visa.id">{{ visa.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" v-for="(price, index) in visaBooking.prices">
                        <label class="col-md-3 col-form-label" :for="'visa-booking-prices-' + index">
                            {{price.title}} <small>({{price.min_age}} - {{price.max_age}})</small></label>
                        <div class="col-md-9">
                            <input type="number" v-model.number="price.no_of_persons" class="form-control" :id="'visa-booking-prices-' + index">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-booking-from-date">Date of Travel</label>
                        <div class="col-md-9">
                            <input type="date" v-model="visaBooking.from_date" class="form-control" id="visa-booking-from-date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-booking-to-date">Return Date</label>
                        <div class="col-md-9">
                            <input type="date" v-model="visaBooking.to_date" class="form-control" id="visa-booking-to-date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">&nbsp;</label>
                        <div class="col-md-9">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" v-model="visaBooking.is_tentative" id="visa-booking-tentative">
                                    Is travel date flexible?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-booking-discount">
                            Discount
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model.number="visaBooking.discount" class="form-control" id="visa-booking-discount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-booking-notes">Notes</label>
                        <div class="col-md-9">
                            <textarea v-model="visaBooking.notes" class="form-control" id="visa-booking-notes" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visa-booking-status">Status</label>
                        <div class="col-md-9">
                            <select v-model="visaBooking.status" class="form-control" id="visa-booking-status">
                                <option v-for="bstatus in bookingStatuses" :value="bstatus.id">{{ bstatus.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" v-if="visaBooking.id">
                        <label class="col-md-3 col-form-label" for="visa-booking-assigned-to">Assigned To</label>
                        <div class="col-md-9">
                            <select v-model="visaBooking.assigned_to" class="form-control" id="visa-booking-assigned-to">
                                <option v-for="admin in admins" :value="admin.id">{{ getUserFullName(admin) }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!visaBooking.isProcessing()">
                                <button v-if="!visaBooking.id" @click="onAddVisaBooking" type="button" class="btn btn-primary">Submit</button>
                                <button v-else @click="onUpdateVisaBooking" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        props: ['visaBookingIndex'],
        data () {
            return {
                visaBooking: new Form (),
                filteredVisas: [],
                dup: new Form(),
                confirmMessage: "Are you sure, you want to delete the booking?",
            }
        },
        computed: {
            ...mapGetters(['countries', 'visaCountries', 'countryByID', 'visasByCountryID',
                        'bookingStatuses', 'visaBookings', 'admins', 'getUserFullName']),
        },
        methods: {
            ...mapActions(['addVisaBooking', 'updateVisaBooking']),
            onCustomerSelected (customer_id) {
                this.$set(this.visaBooking, 'customer_id', customer_id);
            },
            onAddVisaBooking () {
                this.addVisaBooking(this.visaBooking);
                this.clear();
            },
            clear () {
                this.visaBooking.resetData();
                this.visaBooking.setDataWith(this.getDefaultData());
            },
            getDefaultData () {
                return { is_tentative: true, prices: [], country_id: '', visa_id: '', discount: 0 }
            },
            onUpdateVisaBooking () {
                this.updateVisaBooking({index: this.visaBookingIndex, visaBooking: this.visaBooking});
            },
            onCountrySelected () {
                if(!this.visaBooking.country_id) {
                    return;
                }
                this.setFilteredVisas();
            },
            setFilteredVisas () {
                this.filteredVisas = this.visasByCountryID(this.visaBooking.country_id);
            },
            onVisaSelected (event) {
                if(!this.visaBooking.visa_id || this.visaBookingIndex >= 0) {
                    return;
                }
                var visaIndex = getIndexByID(this.filteredVisas, this.visaBooking.visa_id);
                var visa = this.filteredVisas[visaIndex];
                var prices = [];
                visa.prices.forEach ((price) => {
                    var pricing = $.extend(true, {}, price);
                    pricing.visa_price_id = pricing.id;
                    pricing.no_of_persons = 0;
                    delete pricing.id;
                    prices.push(pricing);
                });
                this.$set(this.visaBooking, 'prices', prices);
            }
        },
        mounted () {
            if(this.visaBookings && this.visaBookingIndex >= 0 && this.visaBookings[this.visaBookingIndex]) {
                this.visaBooking.setDataWith($.extend(true, {}, this.visaBookings[this.visaBookingIndex]));
                this.setFilteredVisas();
            } else {
                this.visaBooking.setDataWith(this.getDefaultData());
            }
        }
    }
</script>
