<template>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-black mb-5">
                    <router-link v-for="route in routes" v-if="!route.meta.doNotShowInForLoop"
                        :key="route.name" tag="button" class="btn btn-secondary mr-1" :to="{name: route.name}">
                        {{ route.meta.title }}
                    </router-link>
                </h5>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    import visaBookingRoutes from '../../../router/bookings/visa'
    export default {
        data () {
            return {
                routes: visaBookingRoutes.children
            }
        }
    }
</script>
