<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-5">
                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#visa-booking-filters" aria-expanded="false" aria-controls="collapseExample">
                        View / Hide Filters
                    </button>
                </div>
                <div class="col-md-12 collapse" id="visa-booking-filters">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Customer</label>
                                <customer-search v-model="search.customer_id" @onCustomerSelected="onCustomerSelected"></customer-search>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-booking-search-code">Booking Code</label>
                                <input type="text" v-model="search.code" class="form-control" id="visa-booking-search-code">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-booking-search-visa-country">Visa Country</label>
                                <select v-model="search.country_id" class="form-control" id="visa-booking-search-visa-country">
                                    <option v-for="visaCountry in visaCountries" :value="visaCountry.id">{{ visaCountry.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-booking-search-booking-date-from">Date of Booking (From)</label>
                                <input type="date" v-model="search.booking_date_from" class="form-control" id="visa-booking-search-booking-date-from">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-booking-search-booking-date-to">Date of Booking (To)</label>
                                <input type="date" v-model="search.booking_date_to" class="form-control" id="visa-booking-search-booking-date-to">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-booking-search-travel-date-after">Date of Travel (After)</label>
                                <input type="date" v-model="search.travel_date_after" class="form-control" id="visa-booking-search-travel-date-after">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="visa-booking-search-travel-date-before">Date of Travel (Before)</label>
                                <input type="date" v-model="search.travel_date_before" class="form-control" id="visa-booking-search-travel-date-before">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-booking-search-created-by">Created By</label>
                                <select v-model="search.created_by" class="form-control" id="visa-booking-search-created-by">
                                    <option v-for="admin in admins" :value="admin.id">{{ getUserFullName(admin) }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-booking-search-status">By Status</label>
                                <multiselect v-model="selectedStatuses" :options="bookingStatuses" :multiple="true" :close-on-select="false"
                                    :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Select status(es)"
                                    label="name" track-by="name">
                                </multiselect>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="visa-booking-search-assigned-to">Assigned To</label>
                                <select v-model="search.assigned_to" class="form-control" id="visa-booking-search-assigned-to">
                                    <option v-for="admin in admins" :value="admin.id">{{ getUserFullName(admin) }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button @click="onSearchVisaBookings" type="button" class="btn btn-icon btn-primary btn-rounded mt-4">
                                    <i class="icmn-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <pulse-loader :loading="search.isProcessing()"></pulse-loader>
                    <table class="table table-responsive font-size-12" v-if="!search.isProcessing()">
                        <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th>Code</th>
                                <th>Enquiry Code</th>
                                <th>Customer</th>
                                <th>Country</th>
                                <th>Visa</th>
                                <th># Persons</th>
                                <th>Status</th>
                                <th>Created By</th>
                                <th>Assigned To</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(visaBooking, index) in visaBookings">
                                <th><strong>{{ index + 1 }}</strong></th>
                                <th><strong>{{ visaBooking.code }}</strong></th>
                                <th><strong>{{ visaBooking.enquiry_code }}</strong></th>
                                <td>{{ getUserFullName(visaBooking.customer) }}</td>
                                <td>{{ visaCountryName(visaBooking.country_id) }}</td>
                                <td>{{ visaName(visaBooking.visa_id) }}</td>
                                <td>{{ getTotalPersons(visaBooking) }}</td>
                                <td>{{ statusName(visaBooking.status) }}</td>
                                <td>{{ getUserFullName(visaBooking.creator) }}</td>
                                <td>{{ adminName(visaBooking.assigned_to) }}</td>
                                <td>
                                    <a class="text-primary mr-1" @click="onViewVisaBooking(visaBooking, index)" href="javascript: void(0)">
                                        <i class="fa fa-dollar"></i>
                                    </a>
                                    <router-link tag="a" class="text-warning mr-1" :to="{name: 'update-visa-booking', params: {visaBookingIndex: index}}">
                                        <i class="icmn-pencil"></i>
                                    </router-link>
                                    <a class="text-danger" @click="deleteConfirmation(index)" href="javascript: void(0)">
                                        <i class="icmn-bin"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveVisaBooking"></confirmation>
                </div>
            </div>
            <div class="modal fade" id="view-visa-booking" tabindex="-1" role="dialog" aria-labelledby="viewVisaBooking" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewVisaBooking">Visa Booking Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <dl class="row">
                                    <dt class="col-md-4">Customer</dt>
                                    <dd class="col-md-8">{{ getUserFullName(selectedVisaBooking.customer) }}</dd>

                                    <dt class="col-md-4">Country</dt>
                                    <dd class="col-md-8">
                                        {{ visaCountryName(selectedVisaBooking.country_id) }} -
                                        {{ visaName(selectedVisaBooking.visa_id) }}
                                    </dd>

                                    <dt class="col-md-4">From</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaBooking.from_date }}
                                    </dd>
                                    <dt class="col-md-4">To</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaBooking.to_date }}
                                    </dd>
                                    <dt class="col-md-4">Is Tentative</dt>
                                    <dd class="col-md-8">
                                        <span v-if="selectedVisaBooking.is_tentative">True</span>
                                        <span v-else>False</span>
                                    </dd>
                                    <dt class="col-md-4">Notes</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaBooking.notes }}
                                    </dd>

                                    <dt class="col-md-4">Created</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaBooking.created_at }}
                                    </dd>

                                    <dt class="col-md-4">Last Updated</dt>
                                    <dd class="col-md-8">
                                        {{ selectedVisaBooking.updated_at }}
                                    </dd>
                                </dl>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Pricing</strong>
                                        <table class="table table-responsive font-size-12">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Embassy Fee</th>
                                                    <th>VFS Fee</th>
                                                    <th>Other Charges</th>
                                                    <th>Service Fee</th>
                                                    <th># Persons</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="info in selectedVisaBooking.prices" v-if="info.no_of_persons">
                                                    <td>{{ info.title }}
                                                        <small v-if="info.max_age">({{info.min_age}} - {{info.max_age}})</small>
                                                        <small v-else>({{info.min_age}}+)</small>
                                                    </td>
                                                    <td>{{ info.price }}</td>
                                                    <td>{{ info.vfs_fee }}</td>
                                                    <td>{{ info.other_charges }}</td>
                                                    <td>{{ info.service_fee }}</td>
                                                    <td>{{ info.no_of_persons }}</td>
                                                    <td>{{ getTotalInfoPrice(info) }}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6"><strong>Total</strong></td>
                                                    <td>{{getTotalPrice()}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                search: new Form (),
                selectedVisaBooking: {prices: []},
                selectedStatuses: [],
                selectedVisa: {},
                travelerInfo: [],
                showConfirm: false,
                confirmMessage: "Are you sure you want to delete the booking?",
                dup: new Form (),
                visaBookingIndexForDelete: undefined
            }
        },
        computed: {
            ...mapGetters(['visaCountries', 'visaBookings', 'visaByID', 'visaName', 'bookingStatuses', 'statusName',
                            'visaCountryName', 'admins', 'getUserFullName', 'adminName', 'getVisaPricing'])
        },
        methods: {
            ...mapActions(['fetchVisaBookings', 'removeVisaBooking']),
            getTotalPrice () {
                var totalPrice = 0;
                if(this.selectedVisaBooking && this.selectedVisaBooking.prices) {
                    this.selectedVisaBooking.prices.forEach((info) => {
                        if(info.no_of_persons) {
                            totalPrice += this.getTotalInfoPrice(info);
                        }
                    });
                }
                return totalPrice;
            },
            getTotalInfoPrice (pricingInfo) {
                var singlePersonPrice = pricingInfo.price + pricingInfo.vfs_fee
                                        + pricingInfo.other_charges + pricingInfo.service_fee;
                return singlePersonPrice * pricingInfo.no_of_persons;
            },
            getTotalPersons (booking) {
                var totalPersons = 0;
                if(booking && booking.prices) {
                    booking.prices.forEach((price) => {
                        totalPersons += price.no_of_persons;
                    })
                }
                return totalPersons;
            },
            updateSearchStatuses () {
                this.$set(this.search, 'statuses', []);
                this.selectedStatuses.forEach((status) => {
                    this.search.statuses.push(status.id);
                });
            },
            onViewVisaBooking (visaBooking, index) {
                this.selectedVisaBooking = $.extend(true, {}, visaBooking);
                this.selectedVisa = this.visaByID(this.selectedVisaBooking.visa_id);
                $('#view-visa-booking').modal('show');
            },
            onSearchVisaBookings () {
                this.updateSearchStatuses();
                this.fetchVisaBookings(this.search);
            },
            onCustomerSelected (customer_id) {
                this.$set(this.search, 'customer_id', customer_id);
            },
            deleteConfirmation (index) {
                this.visaBookingIndexForDelete = index;
                this.showConfirm = true;
            },
            onRemoveVisaBooking () {
                this.removeVisaBooking({index: this.visaBookingIndexForDelete, form: this.dup});
                this.clear();
            },
            clear () {
                this.visaBookingIndexForDelete = undefined;
                this.showConfirm = false;
                this.selectedVisaBooking = {prices: []};
                this.selectedVisa = {};
            },
        }
    }
</script>
