<template>
    <router-view></router-view>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        computed: {
            ...mapGetters(['countries'])
        },
        methods: {
            ...mapActions(['fetchCountries', 'fetchVisaSettings', 'fetchVisas', 'fetchSystemSettings'])
        },
        mounted () {
            this.fetchCountries();
            this.fetchSystemSettings();
            this.fetchVisaSettings();
            this.fetchVisas();
        }
    }
</script>
