<template>
    <div>
        <menu-right></menu-right>
        <top-bar></top-bar>
        <menu-left></menu-left>
        <router-view></router-view>
    </div>
</template>

<script>
    import menuLeft from '../components/menus/menu-left-horizontal'
    import menuRight from '../components/menus/menu-right'
    import topBar from '../components/menus/top-bar'
    export default {
        components: {
            menuLeft,
            menuRight,
            topBar
        },
        mounted() {
        }
    }
</script>

<style media="screen">
    .table td, .table th {
        text-align: center;
    }
</style>
