<template>
    <el-select
        @change="onCustomerSelected"
        class="w-100"
        v-model="customer_id"
        filterable
        remote
        placeholder="Please enter a keyword"
        no-data-text="No results to display"
        :remote-method="onSearchCustomers"
        :loading="searchingCustomersInProgress"
        loading-text="Searching ...">
        <el-option
          v-for="customer in filteredCustomers"
          :key="customer.id"
          :label="getFullName(customer)"
          :value="customer.id">
          {{getFullName(customer)}}
          <small>{{getIdentifier(customer)}}</small>
        </el-option>
    </el-select>
</template>
<script type="text/javascript">
    import { mapActions, mapGetters } from 'vuex'
    export default {
        props: ['value'],
        data () {
            return {
                customer_id: undefined,
                filteredCustomers: [],
                searchingCustomersInProgress: false,
                search: new Form ()
            }
        },
        computed: {

        },
        methods: {
            ...mapActions(['fetchCustomers']),
            onSearchCustomers (query) {
                this.filteredCustomers = [];
                if(query != '') {
                    this.searchingCustomersInProgress = true;
                    setTimeout(() => {
                        this.search.query = query;
                        this.fetchCustomers(this.search)
                            .then((response) => {
                                this.searchingCustomersInProgress = false;
                                this.filteredCustomers = response;
                            })
                            .catch((errors) => {
                                this.searchingCustomersInProgress = false;
                            })
                    }, 500)
                }
            },
            getFullName (customer) {
                var last_name = customer.last_name ? customer.last_name : '';
                return customer.first_name + ' ' + last_name;
            },
            getIdentifier (customer) {
                return customer.email ? customer.email : customer.phone;
            },
            onCustomerSelected () {
                this.$emit('onCustomerSelected', this.customer_id);
            }
        },
        mounted () {
            // Set the styles for auto complete
            var autoComplete = document.querySelector("input.el-input__inner");
            autoComplete.className = ' form-control';
        }
    }
</script>
