<template>
    <div class="card-block">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-5">
                    <h5 class="text-black mb-5"><strong>Add / Update Customer</strong></h5>
                    <form class="mb-5" @submit.prevent>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="crm-customer-first-name">First Name</label>
                            <div class="col-md-9">
                                <input type="text" v-model="customer.first_name" class="form-control" placeholder="Kiran Kumar" id="crm-customer-first-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="crm-customer-last-name">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" v-model="customer.last_name" class="form-control" placeholder="Vanam" id="crm-customer-last-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="crm-customer-country">Select Country</label>
                            <div class="col-md-9">
                                <select @change="onCountrySelected" v-model="customer.country_id" class="form-control" id="crm-customer-country">
                                    <option v-for="country in countries" :value="country.id">{{ country.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="crm-customer-email">Email</label>
                            <div class="col-md-9">
                                <input type="email" v-model="customer.email" class="form-control" placeholder="john@gmail.com" id="crm-customer-email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="crm-customer-phone">Phone</label>
                            <div class="col-md-9">
                                <input type="text" v-model="customer.phone" class="form-control" placeholder="9876543210" id="crm-customer-phone">
                            </div>
                        </div>
                        <div class="col-md-2" v-if="customer.id">
                            <div class="form-group">
                                <label for="crm-customer-usergroup">User Group</label>
                                <select v-model="customer.usergroup" class="form-control" id="crm-customer-usergroup">
                                    <option value="guestcustomer">Guest Customer</option>
                                    <option value="registeredcustomer">Registered Customer</option>
                                    <option value="subscriber">Subscriber</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <span v-if="!customer.isProcessing()">
                                    <button v-if="!customer.id" @click="onAddCustomer" type="button" class="btn btn-primary">Submit</button>
                                    <button v-else @click="onUpdateCustomer" type="button" class="btn btn-primary">Update</button>
                                </span>
                                <spinner-button v-else></spinner-button>
                                <button type="button" class="btn btn-warning" name="button" @click="clear">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive mb-5">
                <h5><strong>List</strong></h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="crm-customer-search-first-name">First Name</label>
                            <input type="text" v-model="search.first_name" class="form-control" placeholder="Kiran Kumar" id="crm-customer-search-first-name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="crm-customer-search-country">Country</label>
                            <select v-model="search.country_id" class="form-control" id="crm-customer-search-country">
                                <option v-for="(country, index) in countries" :value="country.id">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="crm-customer-search-email">Email</label>
                            <input type="email" v-model="search.email" class="form-control" placeholder="john@gmail.com" id="crm-customer-search-email">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="crm-customer-search-phone">Phone #</label>
                            <input type="text" v-model="search.phone" class="form-control" placeholder="9876543210" id="crm-customer-search-phone">
                        </div>
                    </div>
                    <div class="col-md-1 mt-1">
                        <button @click="onSearchCustomers" type="button" class="btn btn-icon btn-primary btn-rounded mt-4">
                            <i class="icmn-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <pulse-loader :loading="search.isProcessing()"></pulse-loader>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><strong>#</strong></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Country</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(eachCustomer, index) in customers">
                            <td><strong>{{ index + 1 }}</strong></td>
                            <td>{{ eachCustomer.first_name }}</td>
                            <td>{{ eachCustomer.last_name }}</td>
                            <td>{{ countryByID(eachCustomer.country_id).name }}</td>
                            <td>{{ eachCustomer.email }}</td>
                            <td>{{ eachCustomer.phone }}</td>
                            <td>
                                <button @click="onEditCustomer(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                    <i class="icmn-pencil" aria-hidden="true"></i>
                                </button>
                                <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                    <i class="icmn-bin" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveCustomer"></confirmation>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data () {
            return {
                customer: new Form (),
                search: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure, you want to delete the customer?",
                dup: new Form (),
                customerIndexForEdit: -1,
                customerIndexForDelete: -1
            }
        },
        computed: {
            ...mapGetters(['countries', 'countryByID', 'customers'])
        },
        methods: {
            ...mapActions(['clearCustomerState', 'searchCustomers', 'addCustomer', 'updateCustomer', 'removeCustomer']),
            onAddCustomer () {
                this.$set(this.customer, 'usergroup', 'guestcustomer');
                this.addCustomer(this.customer);
                this.clear();
            },
            clear () {
                this.customer.resetData();
                this.customerIndexForDelete = -1;
                this.customerIndexForEdit = -1;
            },
            onEditCustomer (index) {
                this.customerIndexForEdit = index;
                this.customer.setDataWith(this.customers[index]);
            },
            onUpdateCustomer () {
                this.updateCustomer({ customer: this.customer, index: this.customerIndexForEdit });
                this.clear();
            },
            deleteConfirmation (index) {
                this.showConfirm = true;
                this.customerIndexForDelete = index;
            },
            onRemoveCustomer () {
                this.showConfirm = false;
                this.removeCustomer({ index: this.customerIndexForDelete, form: this.dup });
                this.clear();
            },
            onSearchCustomers () {
                if(!this.search.first_name && !this.search.email && !this.search.phone) {
                    alert ("Please select at least one of First Name, Email or Phone");
                }
                this.searchCustomers(this.search);
            },
            onCountrySelected () {
                var country = this.countryByID(this.customer.country_id);
                if(country && country.calling_code.length) {
                    console.log("country.calling_code", country.calling_code[0]);
                    this.$set(this.customer, 'calling_code', country.calling_code[0]);
                }
            }
        },
        mounted () {
            this.clearCustomerState();
        }
    }
</script>
