<template>
    <div class="cat__content">
        <section class="card cat__core__card-with-sidebar">
            <div class="cat__core__card-sidebar">
                <div class="btn-group-vertical btn-group-justified">
                    <router-link v-for="route in bookingRoutes" :key="route.name"
                        class="btn" :to="{name: route.name}" tag="button">
                        {{ route.meta.title }}
                    </router-link>
                </div>
            </div>
            <div class="card-header">
                <span class="cat__core__title">
                    <strong>Bookings</strong>
                </span>
            </div>
            <router-view></router-view>
        </section>
    </div>
</template>

<script>
    import bookingRoutes from '../../router/bookings/bookings'
    export default {
        data () {
            return {
                bookingRoutes: bookingRoutes
            }
        }
    }
</script>
