<template>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-5">
                    <h5 class="text-black mb-5"><strong>General Visa Terms & Conditions</strong></h5>
                    <form class="mb-5" @submit.prevent>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Min & Max Duration To Apply</strong></label>
                                    <editor :model="visa.apply_duration" v-on:updated="onApplyDurationUpdated"></editor>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Visa Processing Time</strong></label>
                                    <editor :model="visa.processing_time" v-on:updated="onProcessingTimeUpdated"></editor>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Visa Validity Period</strong></label>
                                    <editor :model="visa.validity_period" v-on:updated="onValidityPeriodUpdated"></editor>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Visa Terms & Conditions</strong></label>
                                    <editor :model="visa.conditions" v-on:updated="onConditionsUpdated"></editor>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Important Notes</strong></label>
                                    <editor :model="visa.notes" v-on:updated="onNotesUpdated"></editor>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button v-if="!visa.isProcessing()" @click="onVisaUpdate" type="button" class="btn btn-primary">
                                Update
                            </button>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import visaDetailsMixin from '../mixins/visa_details'
    export default {
        mixins: [visaDetailsMixin],
        computed: {
            ...mapGetters(['visas', 'visaByID']),
            selectedVisa () {
                return this.visaByID(this.selectedVisaID);
            }
        },
        data () {
            return {
                visa: new Form(),
                selectedVisaID: undefined,
            }
        },
        methods: {
            ...mapActions(['updateVisa']),

            onApplyDurationUpdated (durationInfo) {
                this.visa.apply_duration = durationInfo;
            },

            onProcessingTimeUpdated (processingTime) {
                this.visa.processing_time = processingTime;
            },

            onValidityPeriodUpdated (validityPeriod) {
                this.visa.validity_period = validityPeriod;
            },

            onConditionsUpdated (conditions) {
                this.visa.conditions = conditions;
            },

            onNotesUpdated (notes) {
                this.visa.notes = notes;
            },

            onVisaUpdate () {
                this.updateVisa(this.visa);
            },
        },
        mounted () {
            if(! _.isEmpty(this.selectedVisa)) {
                this.visa.setDataWith($.extend(true, {}, this.selectedVisa));
            }
        }
    }
</script>
