<template>
    <div class="cat__content">
        <section class="card cat__core__card-with-sidebar">
            <div class="cat__core__card-sidebar">
                <div class="btn-group-vertical btn-group-justified">
                    <router-link v-for="route in visaDetailRoutes" :key="route.name" class="btn"
                        :to="{name: route.name}" tag="button">
                        {{ route.meta.title }}
                    </router-link>
                </div>
            </div>
            <div class="card-header">
                <div class="pull-right mt-2">
                    <span class="mr-3">
                        <router-link class="cat__core__link--blue" tag="a" :to="{name:'visas'}">
                            <i class="fa fa-ticket mr-2"></i>
                            Visas
                        </router-link>
                    </span>
                    <span class="mr-3">
                        <router-link class="cat__core__link--blue" tag="a" :to="{name:'visas-settings'}">
                            <i class="icmn-cog mr-2"></i>
                            Settings
                        </router-link>
                    </span>
                </div>
                <span class="cat__core__title">
                    <strong>Visas Details - {{ visaName }}</strong>
                </span>
            </div>
            <router-view></router-view>
        </section>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import detailRoutes from '../../../../router/services/visas/visa-detail-routes'
    import visaDetailsMixin from '../mixins/visa_details'
    export default {
        mixins: [visaDetailsMixin],
        computed: {
            ...mapGetters(['visas', 'visaByID']),
            visaName () {
                var visa = this.visaByID(this.selectedVisaID);
                return visa ? visa.name : '';
            }
        },
        data () {
            return {
                selectedVisaID: undefined,
                visaDetailRoutes: detailRoutes
            }
        },
    }
</script>
