<template>
    <div class="card-block">
        <div class="row">
            <div class="col-md-6 mb-5">
                <h5 class="text-black mb-5"><strong>Visa Pricing</strong></h5>
                <form class="mb-5" @submit.prevent>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-title">
                            Title
                        </label>
                        <div class="col-md-9">
                            <input type="text" v-model="visaPricing.title" class="form-control" id="visas-details-pricing-title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-min-age">
                            Min Age
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model="visaPricing.min_age" class="form-control" id="visas-details-pricing-min-age">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-max-age">
                            Max Age
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model="visaPricing.max_age" class="form-control" id="visas-details-pricing-max-age">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-embassy">
                            Embassy Fee
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model="visaPricing.price" class="form-control" id="visas-details-pricing-embassy">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-vfs">
                            VFS Fee
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model="visaPricing.vfs_fee" class="form-control" id="visas-details-pricing-vfs">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-service">
                            Service Charges
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model="visaPricing.service_fee" class="form-control" id="visas-details-pricing-service">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-others">
                            Other Charges
                        </label>
                        <div class="col-md-9">
                            <input type="number" v-model="visaPricing.other_charges" class="form-control" id="visas-details-pricing-others">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="visas-details-pricing-others-info">
                            Other Charges Info
                        </label>
                        <div class="col-md-9">
                            <textarea type="text" rows="3" v-model="visaPricing.other_charges_info" class="form-control" id="visas-details-pricing-others-info"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <span v-if="!visaPricing.isProcessing()">
                                <button v-if="!visaPricing.id" @click="onAddVisaPricing" type="button" class="btn btn-primary">Submit</button>
                                <button v-else @click="onUpdateVisaPricing" type="button" class="btn btn-primary">Update</button>
                            </span>
                            <spinner-button v-else></spinner-button>
                            <button disabled type="button" class="btn btn-warning" name="button">Reset</button>
                        </div>
                    </div>
                </form>
                <confirmation v-if="showConfirm" @close="showConfirm=false" :confirmMessage="confirmMessage" @applied="onRemoveVisaPricing"></confirmation>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive mb-5">
                    <h5><strong>Pricing List</strong></h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th>Title</th>
                                <th>Min Age</th>
                                <th>Max Age</th>
                                <th>Embassy Fee</th>
                                <th>VFS Fee</th>
                                <th>Other Charges</th>
                                <th>Service Fee</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(price, index) in visaPrices">
                                <td><strong>{{ index + 1 }}</strong></td>
                                <td>{{ price.title }}</td>
                                <td>{{ price.min_age }}</td>
                                <td>{{ price.max_age }}</td>
                                <td>{{ price.price }}</td>
                                <td>{{ price.vfs_fee }}</td>
                                <td>{{ price.other_charges }}</td>
                                <td>{{ price.service_fee }}</td>
                                <td>
                                    <button @click="onEditVisaPrice(price, index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded mr-2 mb-2">
                                        <i class="icmn-pencil" aria-hidden="true"></i>
                                    </button>
                                    <button @click="deleteConfirmation(index)" type="button" class="btn btn-sm btn-icon btn-danger btn-rounded mr-2 mb-2">
                                        <i class="icmn-bin" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import visaDetailsMixin from '../mixins/visa_details'
    export default {
        mixins: [visaDetailsMixin],
        computed: {
            ...mapGetters(['visas', 'visaByID']),
            selectedVisa () {
                return this.visaByID(this.selectedVisaID);
            },
            visaPrices () {
                return this.selectedVisa ? this.selectedVisa.prices : [];
            }
        },
        data () {
            return {
                selectedVisaID: undefined,
                visaPricing: new Form (),
                showConfirm: false,
                confirmMessage: "Are you sure you want to delete the visa pricing?",
                visaPriceIndexForEdit: undefined,
                visaPriceIndexForDelete: undefined
            }
        },
        methods: {
            ...mapActions(['addVisaPricing', 'updateVisaPricing', 'deleteVisaPricing']),
            onAddVisaPricing () {
                this.$set(this.visaPricing, 'visa_id', this.selectedVisaID);
                this.addVisaPricing(this.visaPricing);
                this.clear();
            },
            onEditVisaPrice (price, index) {
                this.visaPricing.setDataWith(price);
                this.visaPriceIndexForEdit = index;
            },
            onUpdateVisaPricing () {
                console.log("this.visaPricing ", this.visaPricing);
                this.updateVisaPricing({visaPricing: this.visaPricing, visaPriceIndex: this.visaPriceIndexForEdit});
                this.clear();
            },
            onRemoveVisaPricing () {
                this.removeVisaPricing({visaPriceIndex: this.visaPriceIndexForDelete, visa_id: this.selectedVisaID});
                this.clear();
            },
            deleteConfirmation (visaPriceIndex) {
                this.visaPriceIndexForDelete = visaPriceIndex;
                this.showConfirm = true;
            },
            clear () {
                this.visaPricing.resetData();
                this.showConfirm = false;
                this.visaPriceIndexForEdit = undefined;
                this.visaPriceIndexForDelete = undefined;
            }
        }
    }
</script>
