<template>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-5">
                    <h5 class="text-black mb-5"><strong>General Visa Terms & Conditions</strong></h5>
                    <form class="mb-5" @submit.prevent>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" @click="addOnTop=true" class="btn btn-success" data-toggle="modal" data-target="#add-field-modal">Add Field On Top</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5" v-for="(field, index) in visa.required_documents" :key="slugify(field.name)">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        <strong>{{ field.name }}</strong>
                                        <button @click="removeField(index)" type="button" class="btn btn-sm btn-icon btn-primary btn-rounded ml-2 mb-2">
                                            <i class="icmn-bin" aria-hidden="true"></i>
                                        </button>
                                    </label>
                                    <editor :model="field.description" v-on:updated="onDescriptionUpdated(index, ...arguments)"></editor>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-field-modal">Add Field</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button v-if="!visa.isProcessing()" @click="onVisaUpdate" type="button" class="btn btn-primary">
                                Update
                            </button>
                            <spinner-button v-else></spinner-button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="add-field-modal" tabindex="-1" role="dialog" aria-labelledby="addField" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Field</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label><strong>Field Name:</strong></label>
                                                <input v-model="newField.name" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="addField">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import visaDetailsMixin from '../mixins/visa_details'
    export default {
        mixins: [visaDetailsMixin],
        computed: {
            ...mapGetters(['visas', 'visaByID', 'visaDocumentFields']),
            selectedVisa () {
                return this.visaByID(this.selectedVisaID);
            }
        },
        data () {
            return {
                visa: new Form(),
                selectedVisaID: undefined,
                newField: { name: "" },
                addOnTop: false
            }
        },
        methods: {
            ...mapActions(['updateVisa']),
            getDummyData (field) {
                return {
                    name: field.name,
                    description: ""
                }
            },
            onDescriptionUpdated (index, description) {
                this.visa.required_documents[index].description = description;
            },
            addFieldOnTop () {

            },
            addField () {
                if(!this.newField.name) {
                    return;
                }
                var data = this.getDummyData(this.newField);
                if(this.addOnTop) {
                    this.visa.required_documents.unshift(data);
                } else {
                    this.visa.required_documents.push(data);
                }
                $('#add-field-modal').modal('hide');
                this.newField.name = "";
            },
            onVisaUpdate () {
                this.updateVisa(this.visa);
            },
            removeField (index) {
                this.visa.required_documents.splice(index, 1);
            },
            slugify (field) {
                return window.slugify(field);
            }
        },
        mounted () {
            if(! _.isEmpty(this.selectedVisa)) {
                var data = $.extend(true, {}, this.selectedVisa);
                this.visa.setDataWith(data);
                if(!this.visa.required_documents) {
                    this.visa.required_documents = [];
                    this.visaDocumentFields.forEach((field) => {
                        this.visa.required_documents.push(this.getDummyData(field));
                    })
                }
            }
        }
    }
</script>
